@{
  Layout = "_Layout";
}

@model ToDoList.Models.Item

<h2>Are you sure you want to delete this?</h2>

@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)
@using (Html.BeginForm())//BeginForm() auto creates a POST request to an action method whose name matches the .cshtml file it's contained in. This one creates POST request to our Delete action This is why our annotation includes ActionName("Delete").
{
    <input type="submit" value="Delete" />
}
<hr />
@Html.ActionLink("Back to List", "Index")