@{
  Layout = "_Layout";
} 
<h1>Add a new item to @Model.Name</h1>
<form action="/categories/@Model.Id/items" method="post">
@* 
-action=items routes to /items in conroller
-forms that create new objects MUST have a post method. creates a HTTP request called a POST request.  *@
  <input id="categoryId" name="categoryId" type="hidden" value="@Model.Id">
  @* this input is hidden from the user but passes the category id on with the form *@
  <label for="itemDescription">Item Description</label>
  <input id="itemDescription" name="itemDescription" type="text">
  <button type="submit">Add Item</button>
</form>